# deployment
pip>=19.2.3
wheel>=0.33.6
# runtime requirements
# pinned so the bot can create PRs to test with new versions
pydantic==2.3.0
pydantic-settings==2.0.3
rich==13.6.0
tomli==2.0.1
typer==0.9.0
qtsass==0.4.0

# extra requirements
PySide6==6.5.2
qt5-applications
qt6-applications

# quality assurance
black>=19.10b0
flake8>=3.8.0
isort>=5.2.2
pre-commit>=2.6.0
pydocstyle>=5.0.2
# docs requirements
-r docs/requirements.txt
# test requirements
coverage>=4.5.1
pytest>=4.0.0
pytest-env>=0.6.2
pytest-cov>=2.5.1
tox>=3.5.2
tomli-w>=1.0.0
