# deployment
pip>=19.2.3
wheel>=0.33.6
# runtime requirements
# pinned so the bot can create PRs to test with new versions

pydantic==1.9.2
rich==12.5.1
tomli==2.0.1
typer==0.6.1
qtsass==0.3.0 ;python_version < '3.10'
qtsass@https://github.com/spyder-ide/qtsass/archive/refs/heads/master.zip ;python_version >= '3.10'

# extra requirements
PySide6==6.3.1
qt5-applications
qt6-applications

# quality asurence
black>=19.10b0
flake8>=3.8.0
isort>=5.2.2
pre-commit>=2.6.0
pydocstyle>=5.0.2
# docs requirements
-r docs/requirements.txt
# test requirements
coverage>=4.5.1
pytest>=4.0.0
pytest-env>=0.6.2
pytest-cov>=2.5.1
tox>=3.5.2
tomli-w>=1.0.0
